.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default-weapon td:first-child,
.weapon-selected td:first-child {
  background: rgb(255, 102, 0) !important;
  color: white !important;
  text-align: center !important;
}

.default-weapon:not(.is-profile) td,
.weapon-selected:not(.is-profile) td {
  border-top: 2px solid rgb(255, 102, 0);
}

.default-weapon:not(.next-is-profile) td,
.weapon-selected:not(.next-is-profile) td {
  border-bottom: 2px solid rgb(255, 102, 0);
}

.default-weapon td:last-child,
.weapon-selected td:last-child {
  border-right: 2px solid rgb(255, 102, 0);
}

.MuiTable-root {
  width: calc(100% - 1px) !important;
}
